@use '../utils' as *;

/* ----------------------------------
	12. Hero css
 ------------------------------------ */



 .hero__wrapper{
	position: relative;
	z-index: 1;
	padding: 80px 0px 120px 0px;
	&::after{
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		width: 75%;
		height: 100%;
		background-image: url(../img/hero__bg.png);
		background-position: left top;
		z-index: -1;
		background-repeat: no-repeat;
		background-size: cover;
		@media #{$md,$sm,$xs} {
			width: 100%;
		}
	}
	.bw_scroll__btn{
		position: absolute;
		bottom: -30px;
		@media #{$xs} {
			left: calc(100% - 60%);			
		}
		left: calc(100% - 55%);
		a{
			width: 70px;
			height: 70px;
			@media #{$xs} {
				width: 50px;
				height: 50px;			
			}
			border-radius: 500px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: var(--bw-theme-primary);

			&:hover{
				background-color: var(--bw-theme-secondary);
				img{
					animation: top-bottom 1.5s ease-in-out infinite;
				}
			}
		}
	}
	.hero__left__shape{
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		img{
			max-width: 80%;
		}
	}
	.hero__left__shape2{
		position: absolute;
		top: 0;
		left: 0;
		z-index: -2;
		img{
			max-width: 90%;
			@media #{ $xxl,$xl} {
				max-width: 80%;
			}
			@media #{ $lg} {
				max-width: 70%;
			}
		}
	}
	.hero__right__shape{
		position: absolute;
		top: 0;
		right: 0;
		z-index: -2;
	}
	.hero__right__line{
		position: absolute;
		bottom: 0;
		right: 5%;
		z-index: -2;
	}
	.hero__left__shape,.hero__left__shape2,.hero__right__shape,.hero__right__line{
		@media #{ $md,$sm,$xs} {
			display: none;
		}
	}
 }
 .hero__item{
	.hero__content_left{
		    margin-bottom: 30px;
			max-width: 650px;
			margin-left: auto;
			margin-right: 0;
			@media #{$xl} {
				max-width: 550px;
			}
			@media #{$lg} {
				max-width: 450px;
			}
			@media #{ $md,$sm,$xs} {
				max-width: 700px;
				margin-left: auto;
				margin-right: auto;
			}
		.hero__title{
			font-weight: var(--bw-fw-ebold);
			line-height: 110%;
			position: relative;
			letter-spacing: -2.1px;
			max-width: 550px;
			margin-bottom: 50px;
			.text__vector{
				position: absolute;
				bottom: -40px;
				right: 10%;
				animation: left 4s ease-in infinite;
				@media #{$xs} {
					bottom: -20px;
					right: 0%;
					max-width: 35%;
				}
			}
			@media #{$lg,$sm} {
				font-size: 60px;
			}
			@media #{$xs} {
				font-size: 40px;
				margin-bottom: 30px;
			}
		}
		.bw-btn-primary{
			padding: 17px 40px;
		}
	}
	.hero__content_right{
		.hero__image{
			position: relative;
			.hero__shape__elememt{
				img{
					display: inline;
					max-width: 300px;
					position: absolute;
					bottom: 0;
					right: 20px;
					z-index: 1;

				}
				@media #{$xs} {
				 	display: none;
				}
			}
		}
	}
 }